name: cypress tests
on: [push]
jobs:
  clone-repo:
    runs-on: ubuntu-latest
    steps:
      - name: clone back-end repo
        uses: "actions/checkout@v3"
        with:
          repository: sriding/job-journal-be
          path: ./
          ref: main

  call-workflow-in-job-journal-be:
    needs: clone-repo
    uses: sriding/job-journal-be/.github/workflows/standby.yml@main

  cypress-run:
    needs: call-workflow-in-job-journal-be
    steps:
      - name: checkout command
        uses: "actions/checkout@v3"

      - name: cypress run command
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          run: npm run start
