name: cypress tests
on: [push]
jobs:
  main-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout own repo
        uses: "actions/checkout@v3"

      - name: clone back-end repo
        uses: "actions/checkout@v3"
        with:
          repository: sriding/job-journal-be
          path: ./jj
          ref: main

      - name: run reusable workflow
        uses: "sriding/job-journal-be/.github/workflows/standby.yml@main"

      - name: run cypress tests
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          run: npm run start
