name: cypress tests
on: [push]
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: checkout command
        uses: "actions/checkout@v3"

      - name: cypress run command
        uses: cypress-io/github-action@v5
        with:
          build: npm run build
          run: npm run start
